folium==0.14.0
haversine==2.8.0
matplotlib-inline==0.1.6
numpy==1.24.3
pandas==2.0.1
plotly==5.14.1
streamlit-folium==0.11.1
matplotlib==3.7.1
pandas==2.0.1
Pillow==10.0.0
plotly==5.14.1
streamlit==1.27.2
scipy==1.12.0
